<% if @tool.less_stressed %>
  <div class="bubble">Reduces Stress</div>
<% end %>
<% if @tool.happier %>
  <div class="bubble">Increases Happiness</div>
<% end %>
<% if @tool.more_relaxed %>
  <div class="bubble">Relaxes</div>
<% end %>
<% if @tool.less_panicked %>
  <div class="bubble">Eases Panic</div>
<% end %>
<% if @tool.more_motivated %>
  <div class="bubble">Motivates</div>
<% end %>
<% if @tool.less_worried %>
  <div class="bubble">Soothes Worry</div>
<% end %>
<% if @tool.more_organized %>
  <div class="bubble">Organization</div>
<% end %>
<% if @tool.other %>
  <div class="bubble">Other</div>
<% end %>
<% if @tool.subscribers_only %>
  <div class="bubble red">Subscribers Only</div>
<% end %>