<div class="container">
	<h1 class="page-title">Edit Tool</h1>

	<%= render 'form' %>

	<div class="links text-center">
		<%= link_to 'Show', @tool %> |
		<%= link_to 'Back', tools_path %>
	</div> <!-- links -->

	<div class="bottom-buffer-clear"></div>
</div> <!-- container -->