<div class="container">

  <h1 class="page-title text-center">Tools</h1>

  <%= render "cards" %>

  <div  class="links text-center row">
    <% if current_user && current_user.admin %>
      <%= link_to 'New Tool', new_tool_path %>
    <% end %>
  </div> <!-- links -->

</div> <!-- container -->
