<div class="container">
	<h1 class="page-title text-center">New Tool</h1>

	<%= render 'form' %>

	<div class="links text-center">
		<%= link_to 'Back', tools_path %>
	</div> <!-- links -->
</div> <!-- container -->

<div class="bottom-buffer-clear"></div>