<div class="container">
	<h1 class="page-title text-center">Recommend a New Tool</h1>

	<%= render 'form' %>

	<div class="links text-center">
		<%= link_to 'Back', recommendations_path %>
	</div> <!-- links -->
</div> <!-- container -->