<div class="container">
	<h1 class="text-center"><%= @user.first_name %>'s Dashboard</h1>
	<h4 class="text-center"><%= link_to "Edit My Info", edit_user_registration_path %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h4>
	
</div>
