<div class="container">
	<div class="text-center">
		<h1 class="page-title"><%= @user.first_name %>'s Dashboard</h1>
		<h4>I'm on my way to being 
			<% if @user.less_stressed %>less stressed, <% end %>
			<% if @user.happier %>happier, <% end %>
			<% if @user.more_relaxed %>more relaxed, <% end %>
			<% if @user.less_panicked %>less panicked, <% end %>
			<% if @user.more_motivated %>more motivated, <% end %>
			<% if @user.less_worried %>less worried, <% end %>
			<% if @user.more_organized %>more organized, <% end %>
			and&nbsp;I'm&nbsp;sure&nbsp;I'll&nbsp;be&nbsp;there&nbsp;soon.
		</h4>
		<h4><%= link_to "Edit My Info", edit_user_registration_path %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h4>
	</div> <!-- centered header -->
	
	<div class="row">
		<hr class="col-xs-6 col-xs-push-3" />
	</div>

	<% if current_user.admin %>
		<div class="text-center">
			<%= render "recommendations" %>
		</div> <!-- recommendattions div -->

		<div class="row">
			<hr class="col-xs-6 col-xs-push-3" />
		</div>
	<% end %>

	
</div>