<div class="image-container">
	<%= image_tag "sandy_beach.jpg", alt: "Soothing ocean. Breathe." %>
</div>

<div class="overlap-image text-center border-bottom">
	<h1 style="padding-top: 150px; margin-top: 0px">Why Sanity Tools?</h1>
</div>

<div class="border-bottom white-background">
	<div class="container text-center">
		<h4>What happens when psychology and technology get together?</h4>
		<h4>Hopefully, your stress levels go way down.</h4>
		<p><span class="font-serif text-shadow">Sanity Tools</span> was created to combine the ease of digital technology and the vast quantity of psychological research out there.  Each tool is scientifically designed to help combat whatever issues may be troubling your mind.  Basically, consider this the internet's way of giving back.</p>
	</div> <!-- container -->
</div> <!-- light grey background -->

<div class="border-bottom no-background">
	<div class="container">
		<%= image_tag "Venn.png", style: "width: 100%" %>

	</div> <!-- container -->
</div> <!-- light grey background -->