/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';






/*
==============================================
Variables
==============================================
*/

$font-sans: 'Lato', sans-serif;
$font-serif: 'Special Elite', sans-serif;
$blue-dark: #231651;
$blue-light: #2374AB;
$blue-green: #4DCCBD;
$grey-dark: #4F5356;
$grey-light: #B2B2B2;
$text-shadow: 1px 2px 2px #4DCCBD;








/*
==============================================
Basics
==============================================
*/

label { text-transform: capitalize; }
body { font-family: $font-sans; color: $blue-dark }
h1 { font-family: $font-serif; text-shadow: $text-shadow; font-size: 50px; }
.linkish { cursor: pointer; text-decoration: underline; color: $blue-light; }
.btn, button { 
	border-radius: 1px;
	font-size: 20px;
	background-color: $blue-green; 
	font-weight: 900; 
	text-transform: capitalize;
  	display: inline-block;
  	vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
    -webkit-transition-property: transform;
  	transition-property: transform;
  	margin: 10px 0 10px 0;
}

.btn:hover, .btn:focus, .btn:active, button:hover, button:focus, button:active { 
	background-color: $grey-light;
    -webkit-transform: scale(1.1);
  	transform: scale(1.1);
}







/*
==============================================
Main Nav
==============================================
*/

#main-nav.navbar-default .navbar-brand {
    font-family: $font-serif;
    color: $blue-dark;
    font-size: 25px;
    margin-top: 5px;
}

#main-nav.navbar-default {
    font-size: 14px;
    background-color: white;
    border-bottom-width: 1px;
    border-color: $blue-green;
    border-top: none;
    border-left: none;
    border-right: none;
}

#main-nav.navbar-default .navbar-nav>li>a {
    color: $blue-dark;
    font-weight: bolder;
}

#main-nav.navbar-default .navbar-nav>li>a:hover,
#main-nav.navbar-default .navbar-nav>li>a:focus {
    color: $grey-light;
}

#main-nav.navbar-default .navbar-nav>.active>a,
#main-nav.navbar-default .navbar-nav>.active>a:hover,
#main-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
}
#main-nav.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#main-nav.navbar-default .navbar-toggle:hover,
#main-nav.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#main-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#main-nav.navbar-default .navbar-toggle:hover .icon-bar,
#main-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}




/*
==============================================
Login Pages
==============================================
*/

.basic-info label {
	padding-top: 10px;
}

.problems-area label {
	padding-left: 25px !important;
}










